
h1{
        color: rgb(226, 43, 43);
      }
img
{
    background-color: blue;
   height: 100px;
}     
      
.bagen
{
    background-color: aqua;
}
.bagen2
{
    background-color: rgb(255, 234, 0);
}
#heading
{
    color: rgb(0, 228, 216);
}